html {
	height: 100%;
	width: 100%;
	margin: 0px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #110033;
	color: lime;
	height: 100%;
	width: 100%;
	margin: 0px;
	background-image:url("../images/albums.jpg");
}


.app{
	height: 100%;
	width: 100%;
}

.albumSearch{
	height: 50px;
	width: 100%;	
}

button {
	margin-left: 35px;
}

.albumList {
	height: calc(100% - 50px);
	width: 25%;	
	overflow: auto;
	float: left;
}

.album {
	margin-left: 200px;
	height: calc(100% - 50px);
	//width: 75%;
	overflow: auto;	
}