html {
	height: 100%;
	margin: 0px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #110033;
	color: white;
	height: 100%;
	margin: 0px;
}


.app{
	height: 100%;
}

.albumSearch{
	height: 50px;
}

.albumList {
	height: calc(100% - 50px);
	width: 200px;
	background: green;
	overflow: auto;
	float: left;
}

.album {
	margin-left: 200px;
	height: calc(100% - 50px);
	overflow: auto;
	background: red;
}