html {
	height: 100%;
	width: 100%;
	margin: 0px;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; 
	font-weight: bold;
	background-color: #110033;
	color: aqua;
	height: 100%;
	width: 100%;
	margin: 0px;
	height: 100%;
}

.app {
	height: 100%;
	width: 100%;
}

.toolBar {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
}

.albumSelect {
	width: 100%;
}

.albumSelect label {
	margin-left: 10px;
}

.albumSearch{
	float: right;
	padding-right: 10px;
}

.albumList {
	height: calc(100% - 50px);
	width: 25%;
	overflow: auto;
	float: left;
}

.album {
	height: calc(100% - 50px);
	width: 75%;
	overflow: auto;
}

.albumDescription{
	font-weight: bold;
}