<div class="album" ng-if="editAlbum">

	Artist name:
	<div ng-bind="artist.name"></div>

	<label for="albumTitle">Album title:</label> 
	<input name="albumTitle" ng-model="editAlbum.title" size="40"></input> 
	<label for="albumTitle">Album year:</label> 
	<input ng-model="editAlbum.year" maxlength="4" size="4"></input>

	<p>Songs:</p>

	<div>
		<img ng-if="!editSong" ng-src="images/new.png"
			ng-click="initEditSong()" title="New Song" class="smallButton">
	</div>


	<div ng-if="editSong">
		Title <input ng-model="editSong.title" size="40"></input> 
		Disc <input ng-model="editSong.disc" maxlength="2" size="2"></input> 
		Track <input ng-model="editSong.track" maxlength="2" size="2"></input> 
		<img ng-src="images/ok.png" ng-click="saveEditSong()" title="OK" class="smallButton"> 
		<img ng-src="images/cancel.png" ng-click="cancelEditSong()" title="Cancel" class="smallButton">
	</div>

	<div ng-if="editAlbum.songs && editAlbum.songs.length > 0">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Disc</th>
					<th>Track</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="song in editAlbum.songs | orderBy:['disc','track']">
					<td><img ng-src="images/edit.png"
						ng-click="initEditSong(song)" title="Edit" class="smallButton">
						<img ng-src="images/delete.png" ng-click="deleteSong(song)"
						title="Delete" class="smallButton"></td>
					<td class="center">{{song.disc}}</td>
					<td class="center">{{song.track}}</td>
					<td>{{song.title}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="okcancel">
		<a href="#"><image src="images/ok.png" ng-click="saveAlbum()" title="OK"></image></a> 
		<a href="#"><image src="images/cancel.png" title="Cancel"></image></a>
	</div>

</div>