<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta charset="UTF-8"></meta>
<title>MusicLibrary</title>
<script type="text/javascript" src="lib/angular.min.js"></script>

<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/controller.js"></script>

<link rel="stylesheet" type="text/css" href="styles/musiclibraryui.css" />

</head>
<body ng-app="musiclibraryapp">
	<div class="app" ng-controller="MusicLibraryController">

		<div class="toolBar">
			<div class="albumSelect">
				<label for="artistSelect">Browse:</label> <select
					name="artistSelect" id="artistSelect"
					ng-options="artist.name for artist in artists track by artist.id"
					ng-model="artist" ng-change="getArtistAlbums()">
				</select>

				<div class="albumSearch">
					<button ng-click="getAlbums()">Search</button>
					<label for="artistName">Artist: </label> <input type="text"
						name="artistName" ng-model="artistName" /> <label
						for="albumTitle">Album: </label> <input type="text"
						name="albumTitle" ng-model="albumTitle" /> <label for="albumYear">Year:
					</label> <input type="text" name="albumYear" ng-model="albumYear"
						ng-pattern="/^[0-9]{1,4}$/" maxlength="4" size="4" />
				</div>
			</div>
		</div>


		<div class="albumList">
			<ul>
				<li ng-repeat="album in albums" ng-bind="album.title"
					ng-click="getAlbum(album.id)"></li>
			</ul>
		</div>


		<div class="album" ng-if="album">

			<span class="albumDescription"> <span
				ng-bind="album.artist.name"></span>: <span ng-bind="album.title"></span>
				(<span ng-bind="album.year"></span>)
			</span>
			<ul>
				<li ng-repeat="song in album.songs" ng-bind="song.title"></li>
			</ul>
		</div>
	</div>

</body>
</html>