<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta charset="UTF-8"></meta>
<title>MusicLibrary</title>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-route.min.js"></script>

<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/controller.js"></script>

<link rel="stylesheet" type="text/css" href="styles/musiclibraryui.css" />

</head>
<body ng-app="musiclibraryapp">
	<div class="app" ng-controller="MusicLibraryController">

		<div class="toolBar">

			<div class="albumTools">
				Album: 
				<img ng-src="images/edit.png" ng-show="album" ng-click="initEditAlbum(true)" title="Edit Album"></img> 
				<img ng-src="images/new.png" ng-click="initEditAlbum(false)" title="New Album"></img> 
				<img ng-src="images/delete.png" ng-show="album" ng-click="deleteAlbum()" title="Delete Album"></img>
				<img ng-src="images/search.png" ng-click="getAlbums()"></img> 
				<label for="artistName">Artist: </label> 
				<input type="text" name="artistName" ng-model="artistName" /> 
				<label for="albumTitle">Title:</label> 
				<input type="text" name="albumTitle" ng-model="albumTitle" /> 
				<label for="albumYear">Year: </label> 
				<input type="text" name="albumYear" ng-model="albumYear" maxlength="4" size="4" />
			</div>

			<div class="artistTools">
				<label for="artistSelect">Artist:</label> 
				<select name="artistSelect" id="artistSelect" ng-options="artist.name for artist in artists | orderBy:'name' track by artist.id  "
					ng-model="artist" ng-change="getArtistAlbums()">
				</select> 
				<img ng-src="images/edit.png" ng-show="artist" ng-click="initEditArtist(true)" title="Edit Artist"></img> 
				<img ng-src="images/new.png" ng-click="initEditArtist(false)" title="New Artist"></img> 
				<img ng-src="images/delete.png" ng-click="deleteArtist()" title="Delete Artist"></img>
			</div>
		</div>


		<div class="albumList">
			<ul>
				<li ng-repeat="album in albums" ng-bind="album.title" ng-click="setAlbum(album)"></li>
			</ul>
		</div>

		<div ng-view="true"></div>

	</div>

</body>
</html>